@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Medium.otf);
}
@font-face {
  font-family: "Rounded Elegance";
  src: url(./fonts/Rounded_Elegance.ttf);
}
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

:root {
  --primary-color-gray: rgba(0, 0, 0, 0.3); /* серый */
  --primary-color-darkgray: rgba(0, 0, 0, 0.7); /* 70% */
  --primary-color-black: #191a19; /* Dark */
  --primary-color-lightgreen: #4e9f3d; /* Green 1 */
  --primary-color-green: #1e5128; /* Green 2 */
  --primary-color-bgc: #f8f8f8; /* Фон */
  --primary-color-orange: #e17d21; /* Кнопки */
  --primary-color-olive: #d8e9a8; /* D8E9A8 */
}

body {
  font-family: "Rounded Elegance", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;

  background-color: var(--primary-color-bgc);
  color: var(--primary-color-darkgray);
  font-size: 18px;
  background-color: #f5f5f5;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

span_olive {
  color: var(--primary-color-lightgreen);
  font-family: inherit;
}

.btn {
  padding: 0.875em 4.875em;

  color: #fff;
  background-color: var(--primary-color-orange);
  font-weight: 500;
  font-size: 1.375rem;
  border-radius: 0.3125em;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Rounded Elegance", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 92px;
  color: var(--primary-color-black);

  margin: 0;
}

h2 {
  font-family: "Rounded Elegance";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
}

h3 {
  font-family: "Rounded Elegance";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.03em;
}

h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.text-specs {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;

  letter-spacing: 0.01em;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
.text_sidebar {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

/*                               */
.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}
/*                              ./page */

/*                              header */
.header {
  width: 100%;
  height: 120px;
  background-color: #fff;
}
.header .wrapper {
  flex-direction: row;
  justify-content: space-between;
}
.header__logo-link {
}
.header__logo-img {
  width: 180px;
  height: 66px;
  background-image: url(../img/logo_header.svg);
}
.header-nav {
  display: flex;
  gap: 30px;

  min-width: 611px;
  margin-left: 45px;
}
.header-nav__link {
}
.header__search-box {
  display: flex;
  align-items: center;

  max-width: 300px;
  width: 100%;

  background: #ffffff;

  border: 1px solid var(--primary-color-gray);
  border-radius: 10px;
}
.search-box__search {
  width: 100%;

  margin-left: 10px;
  font-size: 1rem;
  border: none;
  font-family: "Inter";
}
.search-box__leans {
  width: 33px;
  height: 33px;
  margin-right: 10px;
  background-image: url(../img/search_leans.svg);
}
.links {
  width: 240px;
  height: 57px;
  display: flex;
  align-items: center;
}
.header__links {
}
.links__icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 95px;
  height: 57px;
}

.link-icon {
  width: 25px;
  height: 25px;
}
.link-icon__vb {
  background: url(../img/icon_Viber.svg);
}
.link-icon__tg {
  background: url(../img/icon_Telegram.svg);
}
.link-icon__wts {
  background: url(../img/icon_Whatsapp.svg);
}
.link-icon__tel {
  background: url(../img/icon_phone.svg);
}
.links__tel {
  margin-left: 10px;
}
.link__phone {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.link__callBack {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  text-transform: uppercase;
}

/*                                     section-1          */

.section-1 {
  margin-top: 50px;
  margin-bottom: 150px;
}
.section-1 .wrapper {
}
.section-1__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.secrion-1__headerLeft {
}
.section-1__h1 {
}
.text {
}
.section-1__textLeft {
  margin-top: 15px;
  margin-bottom: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
.section-1__headerRigth {
  max-width: 425px;
}
.section-1__textRigth {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
.section-1__img {
  width: 100%;
  max-width: 1500px;

  height: 700px;
  background-image: url(../img/main_section_1.jpg);
}

/*                                   section-2         */
.section-2 {
}
.section-2 .wrapper {
  width: 100%;
  margin-bottom: 150px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.section-2_left {
  margin-top: 0;
  margin-bottom: 60px;
}
.section-2__rigth {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1115px;
}
.section-2__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 117px;
}
.section-2__text {
  width: 100%;
  max-width: 700px;
}
.section-2__btn {
  margin-right: 75px;

  text-align: center;
  padding-top: 5rem;

  width: 200px;
  height: 200px;

  font-weight: 500;
  font-size: 20px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 100px;
}
.section-2__img {
  width: 1115px;
  height: 620px;

  background-image: url(../img/main_section_2.jpg);
}

/*                              section-3     */
.section-3 {
  margin-bottom: 150px;
}
.section-3 .wrapper {
  align-items: flex-start;
}
.section-3__header {
}
.section-3__heading {
}
.section-3__heading span_olive {
  margin-left: 30px;
}
.section-3__main {
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.section-3__links {
  width: 100%;
  max-width: 700px;
}

.section-3-links__item1s {
  border-top: 2px solid var(--primary-color-gray);
  border-bottom: 2px solid var(--primary-color-gray);
}
.section-3-links__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 27px 25px 19px 10px;
  border-bottom: 2px solid var(--primary-color-gray);
}
.section-3-links__link {
  font-family: "Rounded Elegance";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: var(--primary-color-black);
}
.section-3-links__img {
  width: 20px;
  height: 25px;

  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
}
.section-3__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-3__img {
  width: 720px;
  height: 600px;
  background-image: url(../img/main_section_3.jpg);
}
.section-3__text {
  width: 100%;
  max-width: 600px;
  margin-top: 40px;
  margin-bottom: 35px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
}
.section-3__btn {
}

/*                              section-4 */
.section-4 {
  margin-bottom: 150px;
}
.section-4 .wrapper {
  align-items: flex-start;
}
.section-4__header {
}
.section-4__heading {
  text-transform: uppercase;
}
.section-4__heading span_olive {
  margin-left: 340px;
}
.section-4__cards {
  width: 100%;
  display: flex;
}
.section-4-cards__item {
  position: relative;
      width: 100%;
    max-width: 500px;
    height: 300px;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: 2px solid var(--primary-color-black);*/
  }
.section-4-cards__item::after{
  content: '';
  position: absolute;
  width: 480px;
  height: 2px;
  background-color: #000000;
  top: 0px;
  left: 2px;
}
.section-4-cards__item::before{
  content: "";
  
  position: absolute;

  width: 2px;
  height: 250px;
  left: 0;
  bottom: 25px;

background-color: #000000;
}

.section-4-cards__headding {
  max-width: 400px;
  text-align: center;
  text-transform: uppercase;
}
.section-4-cards__text {
  max-width: 402px;
  text-align: center;
  font-family: "Roboto";
}

/*                                      section-5     */

.section-5 {
  margin-bottom: 150px;
}
.section-5 .wrapper {
}
.section-5__cards {
  width: 100%;
  max-width: 1500px;

  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.section-5-cards__item {
  width: 460px;
  height: 430px;
}

.section-5-card__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--primary-color-black);

  margin-top: 20px;
}
.section-5-card__text1 {
  font-family: "Rounded Elegance";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  text-transform: uppercase;
  color: var(--primary-color-black);
}

.section-5-card__img {
  width: 460px;
  height: 380px;
}
.section-5-card__img2 {
  background-image: url(../img/main_section_5_anticept.jpg);
}
.section-5-card__img3 {
  background-image: url(../img/main_section_5_firesevejpg.jpg);
}
.section-5-card__img4 {
  background-image: url(../img/main_section_5_measure.jpg);
}
.section-5-card__img5 {
  background-image: url(../img/main_section_5_delivery.jpg);
}

/*                                         section-6      */
.section-6 {
  margin-bottom: 140px;
}
.section-6 .wrapper {
}

.section-6__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 70px;
}
.section-6__heading {
  font-family: "Rounded Elegance";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  text-transform: uppercase;
  color: var(--primary-color-black);
}
.section-6__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: var(--primary-color-black);
}
.section-6__cards {
  display: flex;
  gap: 30px;
  width: 100%;
  max-width: 1500px;
}
.section-6__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 352px;
  width: 100%;
  height: 490px;

  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}
.section-6-card__img {
  width: 312px;
  height: 263px;
  background-image: url(../img/main_section-6.jpg);

  border-radius: 5px;
}
.section-6-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 312px;
  width: 100%;
  height: 190px;
}
.section-6-card__text-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: var(--primary-color-black);
}
.section-6-card__type-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background-color: var(--primary-color-darkgray);
  padding: 3px 8px;
  border-radius: 5px;
  width: 120px;
}
.section-6-card__price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: var(--primary-color-green);
}
.section-6-card__down {
  display: flex;
  justify-content: space-between;
}
.section-6-card__btn {
  max-width: 210px;
  padding: 0.875em 2.875em;
}

.section-6-card__sale {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 200%;
  color: #fff;
  padding: 7px 17px;
  background-color: var(--primary-color-green);
  border-radius: 5px;
}

/*                                        section-7    */

.section-7 {
  margin-bottom: 100px;
}
.section-7 .wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.section-7__left {
  width: 100%;
  max-width: 708px;

  height: 700px;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color-olive);
}
.section-7-left__heding {
}
.secrion-7__rigth {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.secrion-7-rigth__content {
  width: 100%;
  max-width: 650px;
}
.section-7-rigth__heding {
  margin-top: 80px;

  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color-black);
}
.section-7-rigth__form {
}
.section-7-rigth__input-group {
  width: 650px;
  height: 140px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-7-rigth__input {
  width: 300px;
  height: 60px;
}
.section-7__input {
  max-width: 300px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  padding: 11px 0 14px 0;

  border: none;
  border-bottom: solid 1px var(--primary-color-gray);
  outline: none;
}
.section-7-rigth__list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-right:25px ;

  width: 100%;
  max-width: 300px;
  height: 60px;
  border-bottom: solid 1px var(--primary-color-gray);
}
.section-7-rigth__list-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--primary-color-black);
  border: none;
  background-color: #fff;
  padding: 12px 0;
  cursor: pointer;
}
.section-7-rigth__textarea {
  width: 650px;
  height: 150px;
  border: solid 1px var(--primary-color-gray);
  resize: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  padding: 14px 26px;
}
.section-7-rigth__btn-box {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-top: 30px;
}
.section-7-rigth__btn {
  padding: 14px 65px;
}

.section-7-rigth__disclaimer {
  max-width: 360px;
  font-size: 15px;
}

/*                                  footer            */
.footer {
  background-color: var(--primary-color-black);
  color: #fff;
}
.footer .wrapper {
  max-width: 1920px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 30px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}
.footer-nav__link {
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo__text {
  font-family: "Rounded Elegance";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  text-transform: uppercase;
  text-align: center;
}
.footer-logo__disclaimer {
  margin-top: 30px;
  margin-bottom: 70px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
}
.footer-logo__link {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;

  text-align: center;
}
.footer__links {
  width: 100%;
  max-width: 300px;
}
.footer__search-box {
  background-color: var(--primary-color-black);
  border: solid 1px #fff;
}
.footer .search-box__search {
  background-color: var(--primary-color-black);
  color: #fff;
}
.footer .search-box__leans {
  background-image: url(../img/search_leans_white.svg);
}
.links {
}
.footer__link {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.footer .links__icon {
  max-width: 60px;
}
.link-icon {
}
.footer .link-icon__vb {
  background-image: url(../img/icon_viber_white.svg);
}
.footer .link-icon__tg {
  background-image: url(../img/icon_Telegram_white.svg);
}
.footer .link-icon__wts {
  background-image: url(../img/icon_Whatsapp_white.svg);
}
.footer .link-icon__tel {
  background-image: url(../img/icon_phone_white.svg);
}
.footer .links__tel {
  max-width: 160px;
}
.link__phone {
}
.link__callBack {
}
